/*général*/
.wrapper {
    margin: 0 auto;
    width: 1024px;
}

html{
    background-color: rgba(213, 201, 189, 0.3);
}

* {
    margin: 0 auto;
    padding: 0;
}

.logo{
    max-height: 300px;
}

.icon{
    max-width: 30px;
    margin: 0 10px;
}


.icon:hover{
    transform: scale(1.5);
    transition: 2s ease-out;
}


/* texte et titre*/
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 40px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: right;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
}

h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.plus, .plus:hover{
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-top: 40px;
}


/* navigation header*/
a {
    font-size: 15px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
} 

ul {
    text-align: center;
}

.navbar{
    background-color: rgba(213, 201, 189, 0.3);
}

ul > li {
    display: inline-block;
}

ul > li > a {
    line-height: 60px;
    padding: 50px;
}

ul > li > a:hover{
    border: 1px solid;
    transition:background-color 6s ease-in-out;
    background-color: rgb(231, 231, 231);
}

li {
    display: block;
    transition-duration: 0.2s;
}

ul > li > a:hover,
ul > li > a:focus,
ul > li > a:active {
    color: #6B7D87;
}
    
ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    display: none;
} 


ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    background-color: transparent;

}

ul li a:hover > ul,
ul li ul a:hover {
    color: rgba(126, 111, 97, 0.3);
}


/*accueil*/
.deux{
    border: solid 5px black;
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
}

.trois{
    margin-bottom: 100px;
}

.rea-design {
    grid-column-start: 1;
    grid-column-end:3;
    max-width: 485px;
    margin: 30px;
}

.rea-inter {
    grid-column-start: 3;
    max-height: 370px ;
    margin: 30px;
}


/*a propos*/

.maphoto{
    grid-column-start: 1;
    grid-column-end:3;
    max-width: 200px;
    margin: 30px;
    margin-top: 100px;
}

.chien{
    grid-column-start: 1;
    grid-column-end:3;
    max-width: 200px;
    margin: 30px;
    margin-top: 68px;
}

.mon_cv{
    min-width: 300px;
    margin-left: 200px;
    margin-top: 40px;
}

.montexte{
    grid-column-start: 3;
    max-height: 370px;
    /* margin: 25px; */
}

.presentation1{
    margin: 70px;
    text-align: justify;
}

.presentation2{
    margin: 70px;
    text-align: justify;
}

/*realisations*/

.portfolio{
    margin: 70px 0;
}

.deux_photo{
    max-width: 700px;
    margin-left: 165px;
}


/*design et integ*/

.deux{
    border: solid 5px black;
    margin: 50px 0;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
}

.trois{
    margin-bottom: 100px;
}

.grid-propos {
    display: grid;
    grid-template-rows:  1fr;
    gap: 10px;
    text-align: center;
}

.tous_realisations{
    margin-left: 150px;
}

.row .col.s6 {
    min-width: 740px;
    margin: 10px 0;
}


/*blog*/

ol{
    margin: 80px 0;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 30px;
}

.blog{
    margin: 20px;
    border: solid 2px #000; 
    padding: 30px;
    padding-top: 30px;
}

.nav-blog{
    margin: 20px;
    padding: 7px;
    font-family: 'Montserrat', sans-serif;
}

.blog:hover, .nav-blog:hover{
    background-color: #BBCCD4;
    cursor:default;
}

/*Articles*/

.lesarticles{
    margin: 30px 0;
    text-align: justify;
}

.texte_article{
    margin-bottom: 100px;
}

/*contact*/

textarea {
    resize: none;
}


fieldset{
    display: inline;
} 

.formulaire {
    /* background-color: #BBCCD4; */
    background-color: #6B7D87;
    box-shadow: 8px 8px 12px #aaa;
    margin: 50px 250px;
    padding: 10px;
}

.text-form{
    margin: 20px 0;
    text-align: center;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

[type="checkbox"]:checked+span:not(.lever):before{
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}


#nom , #prenom {
    grid-row: 1;
}

#courriel{
    grid-row: 2;
}

#telephone{
    grid-row: 3;
}

#utilisateur{
    grid-row: 3;
}

#commentaire {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
    min-width: 400px;
    margin-top: 10px;
}

#soumettre {
    grid-row: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #BBCCD4;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.container{
    margin-bottom: 10px;
}


::placeholder, select, input, label, textarea {
    font-family: montserrat;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.transparent{
    margin: 30px;
    color: red;
}

/*footer*/

footer {
    min-height: 200px;
    background-color: rgba(213, 201, 189, 2);
}

footer > h6 {
    margin-top: 20px;
    padding-top: 100px;
    color: #fff;
    text-align: center;
}


/* Ajoute d'animation  */


.btn{
    width: 300px;
    height: 50px;
    line-height: 50px;	
    background-color: #76a5c0;
    border-radius: 10px;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
}
.btn:hover{
    background-color: #7f858d;
}


.box{
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    animation: monAnimation 8s infinite;
    background-color: rgb(203, 197, 209);
}

@keyframes monAnimation{
      0%{
          left: 1%;
          top: 1%;
      }
      25%{
          top:1%;
          left: 89%;
      }
      50%{
          top: 100%;
          right: 1%;
          border-radius: 10px;
          background-color: #76a5c0;
      }
      75%{
          right: 89%;
          top: 100%;
      }
      100%{
          top: 1%;
          right: 89%;
      }
}


 #infolettre{
    display: none;
    position:absolute;
    left: 10%;
    top: 100%;
    border: solid 1px black;
    width: 250px;
    height: 430px;
 }

.lesBoutons{
    background-color: #76a5c0;
    border-radius: 5px;
    color: #fff;
    margin-left: 60px;
    margin-top: 30px;
    font-size: 25px;
}


.btn_fermer{
    background-color: #76a5c0;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
}

.onscroll{
    width: 200px;
    position: fixed;
    margin-top: 50px;
    margin-left: 100px;
} 

